<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses" #container *ngIf="courses[0] as course">


<ng-template #blankImage let-courseName="description">
    <p class="warn">{{courseName}} has no image.</p>
    <img src="/assets/empty-image.png">
 </ng-template>

 <div *ngTemplateOutlet="blankImage; context: {description: course.description}">

 </div>

 <ng-container *ngTemplateOutlet="blankImage; context: {description: courses[1].description}">

</ng-container>

 <hr>
 <hr>

<course-card  [course]="course"  
    (courseSelected)="onCourseSelected($event)">

    <course-image [imageUrl]="course.iconUrl"></course-image>

<div class="course-description">
    {{course.longDescription}}
</div>
   

</course-card>

    

</div>
